.quantity{
    display: flex;
    justify-content: center;
}
.value{
    width: 15vw;
    text-align: center;
    border: 1px solid black;
    background-color: rgb(221, 216, 216);
}
button {
    width: 10vw;
    font-size: 8vw;
}